<nav class="mobile_menu">
<ul class="nav_list"> 
    <li class="nav_item"> <a href="{{ '/' | relative_url }}">首页</a> </li> 
   </ul> {% for category in site.categories %} {% capture cat_name %}{{ category | first }}{% endcapture %} 
   <ul class="nav_list"> 
    <li class="nav_item"> <a href="{{ site.baseurl }}/categories/{{ cat_name }}" id="aa">{{ cat_name }} ({{ category | last | size }})</a> </li> 
   </ul> {% endfor %} {% if site.user.aboutme %} 
   <ul class="nav_list"> 
    <li class="nav_item"> <a href="{{ site.baseurl }}/aboutme.html">关于我</a> </li> 
   </ul> {% endif %} 
   <ul class="nav_list"> 
    <li class="nav_item"> <a href="{{ site.baseurl }}/tags.html">TAG</a> </li> 
   </ul> 
</nav>
